<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiiju.mapper.ImageResourceMapper">

	
	
	
	<insert id="add" parameterType="com.aiiju.pojo.ImageResource" useGeneratedKeys="true"  keyProperty="id">
		insert into image_resource
		(used_detail,image_name,image_type,image_url,store_id,status,create_date,remark)
		values(#{used_detail},#{image_name},#{image_type},#{image_url},#{store_id},#{status},#{create_date},#{remark})
	</insert>
	


</mapper>
