<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiiju.mapper.ReputationShopImagesMapper">

	
	
	
	<insert id="add" parameterType="com.aiiju.pojo.ReputationShopImages" useGeneratedKeys="true"  keyProperty="id">
		insert into reputation_shopimages
		(field_remark,field_name,image_name,image_type,image_url,image_pid,store_id,reputation_image_id,reputation_image_url,status,create_date,remark)
		values(#{field_remark},#{field_name},#{image_name},#{image_type},#{image_url},#{image_pid},#{store_id},#{reputation_image_id},#{reputation_image_url},#{status},#{create_date},#{remark})
	</insert>
	
<update id="update" parameterType="com.aiiju.pojo.ReputationShopImages">
		update reputation_shopimages
		<set>
			<if test="image_name != null and image_name !=''">
				image_name = #{image_name},
			</if>
			
			<if test="image_type != null and image_type !=''">
				image_type = #{image_type},
			</if>
				<if test="image_url != null and image_url !=''">
				image_url = #{image_url},
			</if>
				<if test="image_pid != null and image_pid !=''">
				image_pid = #{image_pid},
			</if>
				<if test="reputation_image_id != null and reputation_image_id !=''">
				reputation_image_id = #{reputation_image_id},
			</if>
		    <if test="reputation_image_url != null and reputation_image_url !=''">
				reputation_image_url = #{reputation_image_url},
			</if>
			<if test="remark != null and remark !=''">
				remark = #{remark},
			</if>
			<if test="modify_date != null and modify_date !=''">
				modify_date = #{modify_date},
			</if>
		</set>
		where id = #{id}
	</update>
	
	 <select id="getByImageId" parameterType="java.lang.String" resultType="com.aiiju.pojo.ReputationShopImages">
		select * from reputation_shopimages where reputation_image_id = #{reputation_image_id}
	</select>
	
	<delete id="deleteImageInfo" parameterType="java.lang.String">
	
		delete  from  reputation_shopimages where reputation_image_id = #{reputation_image_id}
	</delete>


</mapper>
